/*--------------------------commen----------------------------*/
.ico-home {
	float: left;
	width: 10%;
	height: 60px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(../image/sort.png) center center no-repeat;
}
.ico-nav {
	float: left;
	width:10%;
	height:60px;
	text-indent: -9999em;
	background: url(../image/account.png) center center no-repeat;
	-webkit-transition: right .5s ease;
	transition: right .5s ease;
}
.ico-back {
	float: left;
	width: 10%;
	height: 60px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(../image/back.png) center center no-repeat;
}
#title {
	float: left;
	width: 78%;
	height: 60px;
	margin: 0 1%;
	font-size: 3.142em;
	font-weight: normal;
	color: #fff;
	line-height: 60px;
	text-align: center;
	overflow: hidden;
	-webkit-transition: font-size 0.2s ease-out;
	-o-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	transition: font-size 0.2s ease-out;
}
.header {
	height: 60px;
	padding-bottom: 12px;
	width: 100%;
	background: url(../image/topbg.png) bottom center no-repeat;
}
.logo {
	height: 60px;
	display: block;
	cursor:default;
	line-height: 60px;
	background: url(../image/logo.png) center center no-repeat;
}
.scrollerBox {
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroller {
	width: 100%;
	cursor: move;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
/*----------------------------right----------------------------*/
#rightNav-over {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9998;
	display: none;
	width: 100%;
	height: 100%;
}
.rightWarmp {
	position: relative;
	right: 0;
	z-index: 1;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.right-nav {
	position: fixed;
	top: 0;
	right: -30%;
	z-index: 9999;
	width: 30%;
	height: 100%;
	background: #393939;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.rightMenu {
	right: 30%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.rightNav {
	right: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.right-nav h3 {
	text-align: center;
	font-size: 1em;
	color: #dcdcdc;
	line-height: 3.5em;
}
.right-nav h3 a {
	color: #fff;
}
.right-nav ul li a {
	display: block;
	width: 100%;
	height: 2.5em;
	color: #dcdcdc;
	font-size: 0.875em;
	line-height: 2.5em;
	text-align: center;
	border-bottom: 1px solid #272727;
}

.right-nav ul li a:hover {
	color: #e67122;
}
/*----------------------------left----------------------------*/
#leftNav-over {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9998;
	display: none;
	width: 100%;
	height: 100%;
}
.leftWarmp {
	position: relative;
	left: 0;
	z-index: 1;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.left-nav {
	position: fixed;
	top: 0;
	left: -30%;
	z-index: 9999;
	width: 30%;
	height: 100%;
	background: #393939;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.leftMenu {
	left: 30%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.leftNav {
	left: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.left-nav h3 {
	text-align: center;
	font-size: 1em;
	color: #dcdcdc;
	line-height: 3.5em;
}
.left-nav h3 a {
	color: #fff;
}
.left-nav ul li a {
	display: block;
	width: 100%;
	height: 2.5em;
	color: #dcdcdc;
	font-size: 0.875em;
	line-height: 2.5em;
	text-align: center;
	border-bottom: 1px solid #272727;
}

.left-nav ul li a:hover {
	color: #e67122;
}
